.menus {
    color: $color_titles_menus;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    &-icons {
        width: 2rem;
        height: 2rem;
        fill: $color_icons;
        margin-right: .7rem;
    }
    ul {
        list-style: none;
        display: flex;
        height: 100%;
        // align-items: stretch;

        li {
            display: flex;
            align-items: center;
            // width: 100%;
            
            // padding-bottom: 2rem;
            margin-right: 1.5rem;

            span {
                width: 100%;
            }

            &:hover {
                border-bottom: 4px solid $color_border;
            }
        }
    }
}